body {
    background-color: rgb(15, 15, 99);
}

#cards {
    font-size: 0;
    display: block;
    border: 5px solid black;
    width: 1000px;
    height: 500px;
}

.points {
    display: inline-block;
    padding: 0;
    margin: 0;
    border-top: 3.5px solid black;
    border-bottom: 3.5px solid black;
    border-left: 3.5px solid black;
    border-right: 3.5px solid black;
    color: white;
    background-color: rgb(48, 48, 165);
    width: 200px;
    height: 100px;
    font-weight: bold;
    font-size: 25px;
    float: none;
    cursor: pointer;
}

.points:hover {
    border-color: yellow;
}

.col {
    margin-top: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0px 10px 0px;
    width: 200px;
    text-align: center;
    vertical-align: top;
    display: inline-block;
}

.col2 {
    vertical-align: top;
    display: inline-block;
    margin-left: 50px;
    margin-top: 25px;
}

.scores {
    background-color: white;
    border: none;
    margin-left: 10px;
    padding: 10px;
    width: 100px;
    height: 60px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

hr {
    height: 2px;
    border-width: 0;
    margin: 0;
    margin-bottom: 10px;
    color: black;
    background-color: black;
}

.score {
    color: white;
    background-color: rgb(48, 48, 165);
    margin-bottom: 0;
}

.team_heading {
    width: 100px;
    color: gold;
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    margin-left: 10px;
    margin-top: -10px;
}